body,div,ul,ol,li,h1,p{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
.section{
    text-align:center;
}
#navg {
    position: fixed;
    z-index: 100;
    margin-left: calc(50% - 503px);
    width: 2000px;
    visibility: hidden;
    top: -10%;
}
.logo {
    background: url("image/logo.png") no-repeat;
    width: 131px;
    height: 107px;
    z-index: 100;
    margin-right: 119px;
    margin-top: 12px;
    display: inline-block;
}
.menu {
    z-index: 100;
    width: 400px;
    vertical-align: top;
    margin-top: 55px;
    margin-right: 181px;
    display: inline-block;
}
.menu li {
    display: inline-block;
}
.menu li:nth-of-type(2) {
    margin-right: 43px;
    margin-left: 43px;
}
.menu a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}
.menu li:hover {
    text-shadow: 0px 0px 8px white;
}
.menu li.active{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
.do-it {
    width: 210px;
    height: 54px;
    border: 2px solid white;
    border-radius: 10px;
    background: none;
    box-sizing: border-box;
    color: white;
    font-size: 22px;
    display: inline-block;
    vertical-align: top;
    margin-top: 38px;
}
#creation {
    position: fixed;
    margin-right: 10%;
    right: -40%;
    z-index: 100;
    visibility: hidden;
    width: 145px;
    height: 145px;
    border-radius: 100%;
    box-sizing: border-box;
    margin-top: 428px;
}
#blue-border {
    position: fixed;
    background: url("image/blue-border.png") no-repeat;
    animation: blue-border 6s 1000ms infinite linear;
    width: 145px;
    height: 145px;
}
@keyframes blue-border {
    0% {
    }
    100% {
        transform: rotate(360deg);
    }
}
#creation #circle {
    position: fixed;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #00c2f6;
    background: white url("image/phones-button.png");
    margin: 17px;
}
.heading {
    background: url("image/heading.png") no-repeat;
    width: 468px;
    height: 498px;
    position: relative;
    margin: 0 auto;
}
.pointer{
    width: 32px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    animation: blinking 1s infinite linear;
    background: url("image/pointer.png") no-repeat;
    top: 10%;
}
@keyframes blinking {
    0% {
        transform: scale(0.7);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: scale(0.7);
    }
}
.little-pictures {
    margin-left: calc(50% - 60px);
    width: 60px;
    height: 130px;
    position: absolute;
}
.icon1 {
    background: url("image/svg/case1.svg") no-repeat;
    width: 60px;
    height: 130px;
    animation: icon1 5000ms infinite linear;
    position: absolute;
    top: 150px;
    opacity: 0;
}
@keyframes icon1 {
    0% {
        transform: translateX(-10px) translateY(150px) scale(0);
        opacity: 100;
    }
    9% {
        transform: scale(1);
    }
    100% {
        transform: translateX(1500px) translateY(-450px) rotate(360deg);
        opacity: 100;
    }
}
.icon2 {
    background: url("image/svg/case2.svg") no-repeat;
    width: 60px;
    height: 130px;
    animation: icon2 4s 1000ms infinite linear;
    position: absolute;
    top: 150px;
    opacity: 0;
}
@keyframes icon2 {
    0% {
        transform: translateX(10px) translateY(150px) scale(0);
        opacity: 100;
    }
    9% {
        transform: scale(1);
    }
    100% {
        transform: translateX(-1500px) translateY(-450px) rotate(360deg);
        opacity: 100;
    }
}
.icon3 {
    background: url("image/svg/case3.svg") no-repeat;
    width: 60px;
    height: 130px;
    animation: icon3 5s 1600ms infinite linear;
    position: absolute;
    top: 150px;
    opacity: 0;
}
@keyframes icon3 {
    0% {
        transform: translateX(-50px) translateY(-20px) scale(0) rotate(90deg);
        opacity: 100;
    }
    9% {
        transform: scale(1);
    }
    100% {
        transform: translateX(-1500px) translateY(450px) rotate(-360deg);
        opacity: 100;
    }
}
.icon4 {
    background: url("image/svg/case4.svg") no-repeat;
    width: 60px;
    height: 130px;
    animation: icon4 4s 3000ms infinite linear;
    position: absolute;
    top: 150px;
    opacity: 0;
}
@keyframes icon4 {
    0% {
        transform: translateX(-60px) translateY(-10px) scale(0) rotate(-60deg);
        opacity: 100;
    }
    9% {
        transform: scale(1);
    }
    100% {
        transform: translateX(1500px) translateY(550px) rotate(480deg);
        opacity: 100;
    }
}
.icon5 {
    background: url("image/svg/cicle.svg") no-repeat;
    width: 60px;
    height: 130px;
    animation: icon5 6s 500ms infinite linear;
    position: absolute;
    top: 150px;
    opacity: 0;
}
@keyframes icon5 {
    0% {
        transform: translateX(80px) translateY(-50px) scale(0);
        opacity: 100;
    }
    9% {
        transform: scale(1);
    }
    100% {
        transform: translateX(-1500px) translateY(450px);
        opacity: 100;
    }
}
.icon6 {
    background: url("image/svg/cicle.svg") no-repeat;
    width: 60px;
    height: 130px;
    animation: icon6 5000ms 2500ms infinite linear;
    position: absolute;
    top: 150px;
    opacity: 0;
}
@keyframes icon6 {
    0% {
        transform: translateX(-80px) translateY(-10px) scale(0);
        opacity: 100;
    }
    9% {
        transform: scale(1);
    }
    100% {
        transform: translateX(1500px) translateY(-250px);
        opacity: 100;
    }
}
.icon7 {
    background: url("image/svg/triangle.svg") no-repeat;
    width: 60px;
    height: 130px;
    animation: icon7 4500ms 2300ms infinite linear;
    position: absolute;
    top: 150px;
    opacity: 0;
}
@keyframes icon7 {
    0% {
        transform: translateX(-80px) translateY(-30px) scale(0);
        opacity: 100;
    }
    9% {
        transform: scale(1);
    }
    100% {
        transform: translateX(1500px) translateY(350px) rotate(680deg);
        opacity: 100;
    }
}
.icon8 {
    background: url("image/svg/triangle.svg") no-repeat;
    width: 60px;
    height: 130px;
    animation: icon8 4000ms 3100ms infinite linear;
    position: absolute;
    top: 150px;
    opacity: 0;
}
@keyframes icon8 {
    0% {
        transform: translateX(80px) translateY(-30px) scale(0);
        opacity: 100;
    }
    9% {
        transform: scale(1);
    }
    100% {
        transform: translateX(-1500px) translateY(650px) rotate(-580deg);
        opacity: 100;
    }
}
.icon9 {
    background: url("image/svg/squre.svg") no-repeat;
    width: 60px;
    height: 130px;
    animation: icon9 6000ms 1500ms infinite linear;
    position: absolute;
    top: 150px;
    opacity: 0;
}
@keyframes icon9 {
    0% {
        transform: translateX(-70px) translateY(-60px) scale(0);
        opacity: 100;
    }
    9% {
        transform: scale(1);
    }
    100% {
        transform: translateX(1500px) translateY(450px) rotate(-580deg);
        opacity: 100;
    }
}
.icon10 {
    background: url("image/svg/squre.svg") no-repeat;
    width: 60px;
    height: 130px;
    animation: icon10 4000ms 2200ms infinite linear;
    position: absolute;
    top: 150px;
    opacity: 0;
}
@keyframes icon10 {
    0% {
        transform: translateX(70px) translateY(20px) scale(0);
        opacity: 100;
    }
    9% {
        transform: scale(1);
    }
    100% {
        transform: translateX(-1500px) translateY(350px) rotate(-580deg);
        opacity: 100;
    }
}
.icon11 {
    background: url("image/svg/case1.svg") no-repeat;
    width: 60px;
    height: 130px;
    animation: icon11 4800ms 2100ms infinite linear;
    position: absolute;
    top: 150px;
    opacity: 0;
}
@keyframes icon11 {
    0% {
        transform: translateX(10px) translateY(150px) scale(0);
        opacity: 100;
    }
    9% {
        transform: scale(1);
    }
    100% {
        transform: translateX(-1500px) translateY(0) rotate(-260deg);
        opacity: 100;
    }
}
.icon12 {
    background: url("image/svg/case2.svg") no-repeat;
    width: 60px;
    height: 130px;
    animation: icon12 4s 2000ms infinite linear;
    position: absolute;
    top: 150px;
    opacity: 0;
}
@keyframes icon12 {
    0% {
        transform: translateX(-40px) translateY(-20px) scale(0);
        opacity: 100;
    }
    9% {
        transform: scale(1);
    }
    100% {
        transform: translateX(1500px) translateY(410px) rotate(-120deg);
        opacity: 100;
    }
}
.icon13 {
    background: url("image/svg/case3.svg") no-repeat;
    width: 60px;
    height: 130px;
    animation: icon13 5200s 26000ms infinite linear;
    position: absolute;
    top: 150px;
    opacity: 0;
}
@keyframes icon13 {
    0% {
        transform: translateX(-50px) translateY(-20px) scale(0) rotate(90deg);
        opacity: 100;
    }
    9% {
        transform: scale(1);
    }
    100% {
        transform: translateX(1500px) translateY(-720px) rotate(420deg);
        opacity: 100;
    }
}
#section2 span {
    color: white;
}
#section2 .steps{
    font-size: 40pt;
    position: relative;
    top: -45%;
    display: block;
    margin-bottom: 62px;
}
.phone-and-photos {
    width: 100%;
}
#section2 .phone {
    background: url("image/phone.png") no-repeat;
    width: 360px;
    height: 749px;
    display: inline-block;
    position: absolute;
    top: 100%;
    visibility: hidden;
    left: 0;
    margin-left: calc(50% - 180px);
}
#section2 .photo {
    position: absolute;
    margin-left: calc(50% - 180px);
    bottom: 0;
    width:0;
    height: 0;
}
#section2 .photo1 {
    background: url("image/photos/photo1.png") no-repeat;
}
#section2 .photo2 {
    background: url("image/photos/photo2.png") no-repeat;
}
#section2 .photo3 {
    background: url("image/photos/photo3.png") no-repeat;
}
#section2 .photo4 {
    background: url("image/photos/photo4.png") no-repeat;
}
#section2 .photo5 {
    background: url("image/photos/photo5.png") no-repeat;
}
#section2 .photo6 {
    background: url("image/photos/photo6.png") no-repeat;
}
.scheme-common {
    height: 186px;
    position: relative;
    top: -13%;
}
.scheme {
    width: 198px;
    height: 114px;
    display: inline-block;
    background: url("image/scheme.png") no-repeat;
    position: relative;
    top: 0;
    vertical-align: bottom;
}
.scheme2 {
    background-position: -199px;
}
.scheme3 {
    background-position: -398px;
}
.scheme4 {
    background-position: -597px;
}
.scheme-pointer {
    display: inline-block;
    background-image: url("image/scheme-pointer.png");
    width: 31px;
    height: 31px;
    margin-bottom: 37px;
    animation: scheme-pointer 1500ms infinite linear;
}
.scheme-pointer-2 {
    animation-delay: 500ms;
}
.scheme-pointer-3 {
    animation-delay: 1000ms;
}
@keyframes scheme-pointer {
    0%{
    }
    33.3% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.scheme span {
    font-size: 19pt;
    position: relative;
    top: 130%;
}
#section3 {
    background: url("image/phones.png");
    vertical-align: middle;
}
.examples {
    font-size: 40pt;
    color: white;
    display: block;
    position: relative;
    top: 8%;
}
.slider-1-line {
    margin-bottom: 24px;
}
#section3 .photo-slider {
    width: 210px;
    height: 290px;
    display: inline-block;
    margin-right: 33px;
}
#section3 .photo-slider1 {
    background: url("image/slider-photos/slider-photo-01.png");
}
#section3 .photo-slider2 {
    background: url("image/slider-photos/slider-photo-02.png");
}
#section3 .photo-slider3 {
    background: url("image/slider-photos/slider-photo-03.png");
}
#section3 .photo-slider4 {
    background: url("image/slider-photos/slider-photo-04.png");
}
#section3 .photo-slider5 {
    background: url("image/slider-photos/slider-photo-05.png");
}
#section3 .photo-slider6 {
    background: url("image/slider-photos/slider-photo-06.png");
}
#section3 .photo-slider7 {
    background: url("image/slider-photos/slider-photo-07.png");
}
#section3 .photo-slider8 {
    background: url("image/slider-photos/slider-photo-08.png");
}
.contacts {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.contacts div {
    margin-right: 16px;
    border: 4px solid #0061ab;
    border-radius: 100%;
    box-sizing: border-box;
}
#section4 .info h1 {
    font-weight: bold;
    font-size: 40pt;
    color:#0061ab;
    margin-bottom: 21px;
}
#section4 p {
    color:#0061ab;
}
.info p {
    font-size: 19pt;
    width: 800px;
    margin: 0 auto 33px auto;
}
.footer {
    width: 1100px;
    margin-left: calc(50% - 600px);
    margin-top: 70px;
}
.footer p {
    font-size: 15pt;
    display: inline-block;
}
.footer p:first-of-type {
    float: left;
}
.footer img {
    float: right;
    margin-left: 10px;
}
.footer p:last-of-type {
    float: right;
}
.contacts p {
    font-size: 19pt;
    color:#0061ab;
}
.contacts p:first-of-type {
    font-weight: bold;
}
.address {
    text-align: left;
    width: 350px;
}
.address div{
    width: 74px;
    height: 74px;
    background: url("image/svg/map_pointer.svg") 50% 50% no-repeat;
    background-size: 29px 35px;
    float: left;
}
.mail {
    text-align: left;
    width: 326px;
    margin: 0 58px;
}
.mail div{
     width: 74px;
     height: 74px;
     background: url("image/svg/mail.svg") 50% 50% no-repeat;
     float: left;
     background-size: 28px 23px;
     float: left;
 }
.phone-number {
    text-align: left;
    width: 279px;
}
.phone-number div{
    width: 74px;
    height: 74px;
    background: url("image/svg/telephone.svg") 50% 50%  no-repeat;
    float: left;
    background-size: 20px 36px;
    float: left;
}
.city {
    background: url("image/city.png") no-repeat;
    width: 1216px;
    height: 495px;
    margin: 0 auto;
}

.page-2 {
    border: 5px solid #ed7f74;
}

.page-3 {
    border: 5px solid #6a6665;
}

.page-4 {
    border-width: 0;
    box-shadow:0 4px 5px #e6e6e6;
}